body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #111;
  color: white;
}

header {
  background: #222;
  padding: 15px;
  text-align: center;
}

nav a {
  color: cyan;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
}

a:hover {
  color: yellow;
}
